

element.style {
    width: 20%;
    height: 34px;
}

/* 移除input上下按鈕 */

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form-control{
	color:#333;
	border:1px solid #ccc;
	padding:10px 15px;
	margin-bottom:10px;
	border-radius:5px;
    font-weight: 30px;
    weight:10%;
    float:inline-start;
}

.buy{
    height: 33px;
}

